<div class="page page-left">
    <div class="flex flex-row fw">
        <div>
            <div class="category-image {{ category }}"></div>
        </div>
        <div class="flex flex-col fw">
            <h1 class="title">{{ title }}</h1>
            <div class="flex flex-row space-between items-center">
                <ul class="attributes">
                {{#each attributes}}
                    <li class="attribute-{{ @key }}"><i class="fas fa-fw fa-{{lookup ../attributeIcons @key}}"></i>{{ this }}</li>
                {{/each}}
                </ul>

                <div id="result">
                  <img src="{{ image_result }}" alt="missing image"/>

                </div>
            </div>
            <div class="flex flex-row">
              <ul class="curriculum_reference">
              {{#each curriculum_reference}}
                  <li class="li_curriculum">{{ @key }}: {{ this }}</li>
              {{/each}}
              </ul>
            </div>
        </div>
    </div>
    <div class="pagenum">{{ pageCount.current }}</div>
</div>
<div class="page page-right">
    <div id="process-spacer"></div>
    <img id="process" src= "{{ image_process }}" alt="missing image"/>
    {{{ content }}}
    <div class="pagenum">{{ add pageCount.current 1 }}</div>
</div>
