<div class="page page-left">
    <div class="flex flex-row fw">
        <div>
            <div class="category-image"></div>
        </div>
        <div class="flex flex-col fw">
            <h1 class="title">{{ title }}</h1>
            <div class="flex flex-row">
                <ul class="attributes">
                {{#each attributes}}
                    <li><i class="fas fa-fw fa-{{lookup ../attributeIcons @key}}"></i>{{ this }}</li>
                {{/each}}
                </ul>
                <image src="foo" alt="missing image"></image>
            </div>
        </div>
    </div>
</div>
<div class="page page-right">
    {{{ content }}}
</div>

